* {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
}

.paginationWrapper {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  list-style: none;
}

.btn {
  font-family: "Inter", sans-serif;
  display: flex;
  align-items: center;
  width: 32px;
  height: 32px;
  background: transparent;
  border: none;
  border-radius: 50%;
  margin-inline: 5px;
}

.btn p {
  margin-inline: auto;
}

.active {
  background: #e6e1e5;
  color: black;
}

.btn:hover {
  cursor: pointer;
  background: #c9c5ca;
}

.btnArrow {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  background: transparent;
  border: none;
  border-radius: 50%;
  margin-inline: 5px;
}

.btnArrow:hover {
  cursor: pointer;
}

.btnArrow svg {
  height: 16px;
  width: 16px;
  color: #1c1b1f;
}

.btnDisabled svg {
  color: #e6e1e5;
}
