
.default {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  text-decoration: none;
  display: flex;
  color: #b23386;
}

.default:hover {
  text-decoration: underline;
}

.disabled,
.disabled svg path {
  color: #1c1b1f;
  opacity: 0.38;
}

.disabled:hover {
  text-decoration: none;
}

.iconSettings {
  display: flex;
  margin-right: 6px;
  justify-content: center;
  align-items: center;
}

.iconSettings svg path {
  fill: #b23386;
}
